@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;700&display=swap');

html, body, main {
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 112px;
}
.leftdiv {
  display: flex;
  align-items: center;
}
.Navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.Navbar li {
 padding: 4px 8px 4px 8px;
}

.apresentacao {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-inline: 7rem;
  margin-top: 4.5rem;
}
.header {
  display: flex;
  flex-direction: column;
}
.header h1 {
  align-self: flex-start;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 1rem;
  line-height: 4.5rem;
  letter-spacing: -0.09375rem;
}

.header p {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.phone {
display: flex;
width: 30.5rem;
height: 40rem;
padding: 0rem 5.25rem;
justify-content: center;
align-items: center;
}